* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.line{
    border-bottom: 2px #333 solid;
}

body {
    background-color: black;
    font-size: 1rem;
    color: white;
}
.charging-cart{
    direction: rtl;
    background-color: #1b1a1a;
    width: 45%;
    border-radius: 0.428rem;
    margin: 2em auto;
}
.charging-header,.charging-body{
    padding: 1em;
}
.charging-header h3{
    font-weight: 500;
}
.body-input{
    display: flex;
}

.body-input input{
    width: 100%;
    padding: .5em;
    background-color: #1b1a1a;
    margin-top: .3em;
    background-clip: padding-box;
    border: 1px solid #373228;
    text-align: center;
}
.body-input button{
    outline: none;
    padding: .5em;
    font-size: 1rem;
    background-color: #292620;
    color: white;
    border: 1px solid #292620;
    margin-top: .3em;
    margin-right: .5em;
    width: 55px;
    height: 38px;
    top: 691px;
    left: 361px;
    border-radius: 8px

}

.body-buttons,.charging-button{
    display: flex;
    justify-content: space-between;
    padding: .7em;
}
.charging-button{
    justify-content: flex-end;
}
.body-buttons button{
    width: 32%;
    background-color: rgba(55, 50, 40, 0.54);
    color: white;
    padding: .7em;
    margin-bottom: .8em;
    border: 1px solid rgba(55, 50, 40, 0.54);
    border-radius: .4em;
    cursor: pointer;
}
.charging-button button{
    outline: none;
    font-size: 1.1rem;
    background-color: rgba(174, 155, 122, 0.52);
    border: 1px solid rgba(174, 155, 122, 0.52);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 0.5rem 2rem;
    line-height: 1;
    border-radius: 8px;
    width: 158px;
}
.bubble-message {
    position: fixed;
    bottom: 30px;
    right: 40px;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 8px;
    z-index: 999;
}
.charging-header{
    background-color: rgba(77, 69, 55, 0.72);
    color: rgba(255, 255, 255, 0.82);
    font-size: 14px;
}
@media (max-width: 768px) {
    .body-buttons{
        flex-direction: column;
    }
    .body-buttons button{
        width: 100%;
    }

}
@media (max-width: 968px) {
    .charging-cart{
        width: 100%;
    }
}