.order {
    color: rgba(255, 252, 252, 0.72);
    background-color: #1b1a1a;
    border: 2px solid rgba(149, 133, 106, 0.52);
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    cursor: pointer;
}

.order-detail {
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    color: rgba(255, 252, 252, 0.72);
    background-color: #1b1a1a;
    border: 2px solid rgba(149, 133, 106, 0.52);
    margin: 10px;
    direction: rtl;
}

.details {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.order-detail img, .order img {
    max-width: 130px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-detail img {
    margin-top: 1em;
    display: flex;
}

.order-date,
.order-code,
.order-price {
    font-size: 16px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.order:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.order-info {
    display: flex;
    flex: 1;
    margin-top: 1em;
}

.order-price {
    color: #a98237;
}

.costumer-info, .price-info {
    display: flex;
}

.costumer-info div, .address-info, .price-info div {
    margin-right: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.detail-info {
    margin-bottom: 1em;
}

.detail-data {
    display: flex;
}

.image-info {
    margin-top: 2em;
    margin-right: 2em;
}

@media (max-width: 642px) {
    .order-info {
        display: block;
    }

    .order {
        align-items: center;
    }
}