/*@font-face {  font-family: estedad;  font-weight: 200;  src: url('fonts/Estedad-Extralight.woff2')format('woff2');}*/
@font-face {  font-family: estedad;  font-weight: 300;  src: url('fonts/Estedad-Thin.woff2')format('woff2');}
@font-face {  font-family: estedad;  font-weight: 400;  src: url('fonts/Estedad-Light.woff2')format('woff2');}
@font-face {  font-family: estedad;  font-weight: 500;  src: url('fonts/Estedad-Regular.woff2')format('woff2');}
@font-face {  font-family: estedad;  font-weight: 600;  src: url('fonts/Estedad-Medium.woff2')format('woff2');}
@font-face {  font-family: estedad;  font-weight: 700;  src: url('fonts/Estedad-Bold.woff2')format('woff2');}
body{  font-family: estedad, serif; font-size: 1rem; }